.App {
  text-align: center;
  font-family: Open Sans, sans-serif;
  width: 100%;
}

form {
  margin-top: 20px;
}

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}
.LOGO {
  margin-top: -10px;
}
.navbar {
  padding: 0px;
}
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}
.Elements {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  margin-top: 100px;
  width: 100%;
}
.AM {
  display: inline-block;
  color: white;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: #fc6c44;
  outline: 1px solid #fc6c44;
  outline-offset: 2px;
}
.container {
  margin-right: 0px;
}
.AL {
  color: white;
  text-decoration-line: none;
}
.card {
  box-shadow: 2px 2px 10px lightblue;
}
.card:hover {
  box-shadow: 3px 3px 10px lightblue;
  transition: 0.8s;
  transform: scale(1.04);
}
.AM:hover {
  color: #fc6c44;
  transition: all 0.5s;
  background-color: white;
}
.AM:active {
  transform: scale(0.8);
}
.nav-link {
  margin-right: 6%;
}
.Heading {
  color: rgb(247 80 35);
  font-weight: 300;
}
.Con {
  margin-right: 0px;
}
.nav-link:hover {
  color: rgb(247 80 35) !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(247 80 35) !important;
}
.icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.Detail {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.Dp {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
.containerHome {
  height: 100vh;
  width: 100%;
  display: grid;
}
.containerAbout {
  height: 50vh;
  width: 100%;
  display: grid;
}
.containerSkill {
  height: 20vh;
  width: 100%;
  display: grid;
  margin-bottom: 1100px;
}
.containerContact {
  height: 100vh;
  width: 100%;
  display: grid;
}
.containerProjects {
  height: 100vh;
  width: 100%;
  margin-bottom: 300px;
}
.bttn {
  margin-top: 50px;
}

.sticker {
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  width: 200px;
}
@media (max-width: 575px) {
  .containerAbout {
    margin-top: 25%;
  }
  .containerSkill {
    margin-bottom: 750px;
  }
  .containerProjects {
    margin-bottom: 1650px;
  }
  .LOGO {
    width: 200px;
    padding-left: 10%;
    height: 100px;
    margin-left: -40px;
  }
  .HC1 {
    text-align: center;
  }
  .Detail {
    font-size: 14px;
    margin-top: -5%;
  }
  .bttn {
    margin-top: 30px;
  }
  .sticker {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
  }
}
.stkr:hover {
  transition: 0.8s;
  transform: scale(1.04);
}
@media (min-width: 575px) and (max-width: 760px) {
  .sticker {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 170px;
  }
  .containerSkill {
    margin-bottom: 800px;
  }
  .containerProjects {
    margin-bottom: 800px;
  }
  .LOGO {
    width: 200px;
    height: 100px;
    margin-left: -10%;
  }
  .Con {
    margin-right: 0%;
  }
  .navbar-nav {
    margin-left: -20px;
  }
  .Dp {
    width: 100%;
    height: 60%;
  }
  .Detail {
    font-size: 13px;
  }
  .nav-link {
    margin-right: 1%;
  }
}
@media (min-width: 710px) {
  .LOGO {
    width: 120%;
    padding-left: 5%;
    height: 100px;
  }
}
@media (min-width: 760px) and (max-width: 929px) {
  .Dp {
    width: 100%;
    height: 60%;
  }
  .Detail {
    font-size: 14px;
  }
  .nav-link {
    margin-right: 3%;
  }
  .sticker {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 150px;
  }
  .containerSkill {
    margin-bottom: 770px;
  }
  .containerProjects {
    margin-bottom: 600px;
  }
}
@media (min-width: 929px) and (max-width: 1057px) {
  .Dp {
    width: 100%;
    height: 70%;
  }
  .containerSkill {
    margin-bottom: 900px;
  }
  .containerProjects {
    margin-bottom: 200px;
  }
}
@media (max-height: 750px) {
  .containerContact {
    margin-top: 50%;
  }
}
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #f45532;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ff3700;
  margin: 0 8px;
  color: inherit;
  opacity: 0.85;
}
.footer-basic {
  margin-top: -100px;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ff3700;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .nodisplay {
    display: none;
  }
}
